@import "../../scss/utility.scss";

.cart {
	width: 100%;
	max-width: 50%;

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
		overflow: auto;
	}
}

.total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	margin: rem(32) 0;
	padding: 0 rem(16);

	& span {
		font-size: rem(32);
	}
}

.actions {
	text-align: right;

	& button:first-of-type {
		// 	cursor: pointer;
		// 	background: transparent;
		// 	border: 1px solid $green;
		// 	padding: 0.5rem 2rem;
		// 	border-radius: rem(25);
		margin-right: rem(10);
		// 	transition: all 0.2s ease-in-out;

		// 	&:hover,
		// 	&:active {
		// 		background: $light-green;
		// 		border-color: $light-green;
		// 		color: $white;
		// 	}
		// }

		// & .btn {
		// 	background: $green;
		// 	color: $white;

		// 	&--alt {
		// 		color: $green;
		// 	}
	}
}
