@import "../../scss/utility.scss";

.products {
	&__card {
		background: rgba($light-black, 0.75);
	}

	& ul {
		list-style: none;
		width: 100%;
		margin: 0;
		padding: 0;

		& li {
			width: 100%;
			max-width: 100%;
		}

		@media (min-width: 768px) {
			display: flex;
			flex-wrap: wrap;

			& li {
				max-width: 33.333%;
			}
		}

		@media (min-width: 1024px) {
			& li {
				max-width: 25%;
			}
		}
		@media (min-width: 1440px) {
			& li {
				max-width: 20%;
			}
		}
	}

	&-loading {
		text-align: center;
		color: $white;
	}

	&-error {
		text-align: center;
		color: $red;
	}
}
