@import "../../scss/utility.scss";

.product {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: rem(16);
	padding: rem(16);
	text-align: center;

	& h5 {
		margin-bottom: rem(8);
	}

	& div:first-of-type {
		width: 100%;

		@media (min-width: 768px) {
			max-width: 80%;
		}
	}
}

.img {
	width: 100%;
	margin-bottom: rem(8);
	border-radius: rem(14);
}

.description {
	margin-bottom: rem(8);
}

.price {
	margin-bottom: rem(8);
	color: $light-green;
	font-size: rem(20);
}

.actions {
	display: flex;
	flex-direction: column;

	@media (min-width: 1024px) {
		// flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	& a {
		position: relative;
		display: inline-flex;
		margin-bottom: rem(8);
		padding: rem(8) rem(32);
		color: $green;
		border: rem(1) solid $green;
		overflow: hidden;
		border-radius: rem(25);
		transition: all 0.5s ease;
		z-index: 1;

		&::before {
			content: "";
			position: absolute;
			transition: inherit;
			bottom: 0;
			left: 0;
			height: 0;
			width: 100%;
			z-index: -1;
		}



		&:hover,
		&:active {
			color: $white;
			border: rem(1) solid $light-green;

			&::before {
				height: 100%;
				background-color: $light-green;
			}
		}
	}
}
