//-------------------------------------
//-- Colors ---------------------------
//-------------------------------------

$dark-green: #2b4f33;
$green: #386641;
$light-green: #50915d;
$violet: #885a5a;
$red: #ca3e51;
$lavander: #beb0a7;
// $dark-white: #eaedf2;
$dark-white: #f9f4f0;
$white: #ffffff;
$light-grey: #ccc;
$light-black: #363636;
$black: #000000;

$background: $lavander;
$color: $light-black;

//-------------------------------------
//-- Utilities ------------------------
//-------------------------------------
